
#inhalt {
	padding:50px;
}

#inhalt-center {
	overflow-y:auto;
	display:float;
	text-align: center;
font-weight:bolder;	
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
padding: 10px;}

\n {
	white-space: pre-line;
}

#img1 {
		height:500px;
	width:400px;
	  display: block;
  margin-left: auto;
  margin-right: auto;
	
}

#img2 {
	height:300px;
	width:350px;
	  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
	display: inline-block;
}